#dtitle{
  background-color: #d2a679;
  text-align: left;
  padding-left: 15px;
}

#dbody{
  padding-left: 15px;
}

.dspacer{
  margin: 40px;
}

.formsection{
  margin-top: 15px;
  margin-bottom: 15px;
}
